# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# PyInstaller
build/
dist/
*.spec

# VS Code / Visual Studio
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
